doctype html
html
  head
    title= title
    script(src='javascripts/angular/angular.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div.columns
          div.column.is-8.is-offset-2
              block content
